{% extends 'shop/base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-3 mb-4">
        <div class="list-group shadow-sm">
            <a href="{% url 'shop:admin_dashboard' %}" class="list-group-item list-group-item-action">📊 Tableau de bord</a>
            <a href="{% url 'shop:admin_produit_liste' %}" class="list-group-item list-group-item-action">📦 Produits</a>
            <a href="{% url 'shop:admin_categorie_liste' %}" class="list-group-item list-group-item-action">🏷️ Catégories</a>
            <a href="{% url 'shop:admin_commande_liste' %}" class="list-group-item list-group-item-action">🧾 Commandes</a>
            <a href="/django-admin/" class="list-group-item list-group-item-action" target="_blank">🛠️ Admin Django natif</a>
        </div>
    </div>
    <div class="col-md-9">
        {% block admin_content %}{% endblock %}
    </div>
</div>
{% endblock %}
